
@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "Analyis_header_code";
    ViewBag.action_flag = "Create";
    string plabel = ViewBag.plabel;
}
@Html.Partial("menu")

<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post">
        @Html.ValidationSummary(true)

        <h3>Dimension Category Definition</h3>
        @Html.Partial("_listsubmit")
        

        @Html.Partial("Analysis_code_header")
    </form>
</div>
