@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "analysis";
    ViewBag.action_flag = "Create";
    string plabel = ViewBag.plabel;
}
@Html.Partial("menu")
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(true)

        <h3>Dimension Category Detail</h3>
        @Html.Partial("_listsubmit")

        @Html.Partial("Dan")

        <div class="form-group">

        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var limit = $("#limit").val();

            if (limit == "Y") {
                $("#click").show('slow');

            }
           
        });
    </script>
}
