@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "Header";
    ViewBag.action_flag = "Create";
    string plabel = ViewBag.plabel;
}
@Html.Partial("menu")
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" >
        @Html.ValidationSummary(true)

        <h3>Transaction Dimension Definition</h3>
   @Html.Partial("_listsubmit")

        @Html.Partial("Head")

        <div class="form-group">
            

        </div>
    </form>
</div>