@model IEnumerable<CittaErp.Models.vw_genlay>

@{
    ViewBag.Title = "quick_pick";  
   @*@for (int i = 0; i < Model.ToArray().Length; i++)*@
    int counter = 0;
    int count = 0;
 }  

    <div id="main_area">
        <!-- Slider -->      
        <div class="row"> 
            <div class="col-sm-8" id="slider-thumbs">
                 <ul class="">  
                     @*@foreach (var item in Model){
    var base64 = Convert.ToBase64String(item.picture12);
    var imgscr = string.Format("data:image/png;base64,{0}", base64);

    var carousel = "carousel-selector" + "-" + @counter;

    <li class="col-sm-3">
        <a class=" thumbnail" id="@carousel">
            <img src="@imgscr" style="height:130px;width:150px;" />
        </a>
    </li>
    counter = counter + 1;
}*@
                     <li class="col-sm-3">
                         <a class="thumbnail" id="carousel-selector-0">
                             <img src="http://placehold.it/150x150&text=zero">
                             @*<img src="/images/Capture.PNG" style="height:130px;width:150px;"/>*@
                         </a>
                     </li>
                     <li class="col-sm-3">
                         <a class="thumbnail" id="carousel-selector-1">
                             <img src="http://placehold.it/150x150&text=1">
                             @*<img src="/images/Capture1.PNG" style="height:130px;width:150px;" />*@
                         </a>
                     </li>

                </ul>
            </div>
            
            
            <div class="col-sm-4">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                                        
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                  @*@foreach (var item2 in Model.Take(1))
                                    {
                                    var base65 = Convert.ToBase64String(item2.picture12);
                                    var imgscr1 = string.Format("data:image/png;base64,{0}", base65);
                                    var read = @count;
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="@read" id="carol">
                                    <img src="@imgscr1" style="height:300px;width:500px;" />
                                    </div>                                                                                                      
                                </div>
                                count = count + 1;
                                    }*@ 

                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                        <img src="http://placehold.it/150x150&text=zero">
                                        @*<img src="/images/Capture.PNG" style="height:300px;width:500px;" />*@
                                    </div>
                                </div>

                                <div class="carousel-inner">
                                    <div class="item" data-slide-number="1">
                                        <img src="http://placehold.it/150x150&text=1">
                                        @*<img src="/images/Capture1.PNG" style="height:300px;width:500px;" />*@
                                    </div>
                                </div>
                                    <!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                        
                        </div>
                    </div>
                </div>             
            </div>                  
            <!--/Slider-->                                            
       </div>   
   </div>           







