@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "category";
    ViewBag.action_flag = "Create";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" >
        @Html.ValidationSummary(true)

        <h3>Account Category Maintainance</h3>
     @Html.Partial("_listsubmit")

        @Html.Partial("Cat")

        <div class="form-group">
            

        </div>
    </form>
</div>