@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "purchase";
    ViewBag.action_flag = "Create";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(true)

        <h3>Purchase Order Sequencing Maintainance</h3>

        @Html.Partial("_listsubmit")




        @Html.Partial("Sot")

        @*<div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="btn btn-success btn-default">Submit</button>
                    <a class="btn  btn-primary btn-default" href="index">Back To List</></a>
                </div>

            </div>*@
    </form>
</div>