@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "Term";
    ViewBag.action_flag = "Create";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@
<div class="container-fluid">
    <form class="form-horizontal" role="form" method="post">
        @Html.ValidationSummary(true)

        <h3>Payment Terms Maintainance</h3>
        @Html.Partial("_listsubmit")

        @Html.Partial("Term")

        <div class="form-group">


        </div>
    </form>
</div>

@section Scripts {
    <script>

    </script>
}
