@model  CittaErp.Models.vw_genlay
@{
    ViewBag.Title = "Inter_company";
    ViewBag.action_flag = "Create";
    string plabel = ViewBag.plabel;
}
@*Html.Partial("menu")*@
<div class="container-fluid">
   

    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        <h3>Inter Company Maintenance</h3>
        @Html.Partial("_listsubmit")

        @Html.ValidationSummary(true)
        @Html.Partial("Inter_coy")
    </form>
</div>