
<button type="submit" class="btn btn-success valshow " name="command" value="Approve Transaction" onclick="lgshow1()">
    <i class="glyphicon glyphicon-thumbs-up"></i> Approve Transaction
</button>

<button type="submit" class="btn btn-info  lgtime " name="command" value="Pending" formnovalidate="formnovalidate">
    <i class="glyphicon glyphicon-inbox"></i> Pending
</button>

<button type="submit" class="btn btn-danger valshow " name="command" value="Reject Transaction" onclick="lgshow1()">
    <i class="glyphicon glyphicon-thumbs-down"></i> Reject Transaction
</button>
