@using anchor1.Helpers
@{ 
    anchor1.Models.worksess worksess = (anchor1.Models.worksess)Session["worksess"];

}
<span class="opt-title1">@worksess.ptitle</span>

<span>@Html.EncodedActionLink(" ", "Create", null, new { xy = 1 }, new { @class = "create_logo lgtime ", title = "New Record" }) </span>

