
<button type="submit" class="btn btn-success btn-default">Submit</button>
&nbsp;&nbsp;&nbsp;
<a class="btn  btn-primary btn-default" href="index">Back To List</a>
&nbsp;&nbsp;&nbsp;
<a class="btn  btn-warning btn-default" href="@Url.Action("Index", "Addrs")"> <span>Add Address</span></a>
&nbsp;&nbsp;&nbsp;
<button type="reset" class="btn btnextra">Clear</button>
<br />
<hr />
