
<button type="submit" class="btn btn-success btn-default tabvalid" id="sub">Save Draft</button>
&nbsp;&nbsp;&nbsp;
<a class="btn  btn-primary btn-default" href="index">Back To List</a>
&nbsp;&nbsp;&nbsp;
<button type="reset" class="btn btnextra">Cancel</button>
&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn btn-success " name="headtype" value="send_app">Send For Approval</button>

<br />
<hr />