
<button type="submit" class="btn btn-success btn-default" id="sub">Update</button>
&nbsp;&nbsp;&nbsp;
<a class="btn  btn-primary btn-default" href="index">Back To List</a>
&nbsp;&nbsp;&nbsp;
<span class="btn  btn-danger btn-default" id="id_delete">Delete Record</span>
<br />
<hr />
