<br />
<br />
<div class="form-group">
    <div class="col-sm-3 col-sm-offset-3">
        <a class="btn  btn-primary btn-default prevtab" href="#">Previous</></a>
    </div>

    <div class="col-sm-3 col-sm-offset-3">
        <a class="btn  btn-primary btn-default nexttab" href="#">Next</></a>
    </div>

</div>
