@{ 
    CittaErp.Models.psess psess = (CittaErp.Models.psess)Session["psess"];
}
                <p></p><p>
            <button type="submit" class="btn btn-info lgtime " name="ar_string9[0]" id="command" value="0">
                <i class="glyphicon glyphicon-th"></i> Table View @psess.temp1                
                </button>

                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn lgtime " name="ar_string9[0]" id="command1" value="1">
                <i class="glyphicon glyphicon-print"></i> Report View @psess.temp1
                </button>
        </p>

